<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MovieManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TheatreAndMovieSearchQueryServlet</display-name>
    <servlet-name>TheatreAndMovieSearchQueryServlet</servlet-name>
    <servlet-class>servlets.TheatreAndMovieSearchQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheatreAndMovieSearchQueryServlet</servlet-name>
    <url-pattern>/TheatreAndMovieSearchQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSearchResults</display-name>
    <servlet-name>MovieSearchResults</servlet-name>
    <servlet-class>servlets.MovieSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSearchResults</servlet-name>
    <url-pattern>/MovieSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReview</display-name>
    <servlet-name>CustomerReview</servlet-name>
    <servlet-class>servlets.CustomerReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReview</servlet-name>
    <url-pattern>/CustomerReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShoppingCart</display-name>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <servlet-class>servlets.UpdateShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <url-pattern>/UpdateShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmation</display-name>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <servlet-class>servlets.CustomerTransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <url-pattern>/CustomerTransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelShowing</display-name>
    <servlet-name>CancelShowing</servlet-name>
    <servlet-class>servlets.CancelShowing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelShowing</servlet-name>
    <url-pattern>/CancelShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrders</display-name>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>servlets.ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrders</display-name>
    <servlet-name>ManageOrders</servlet-name>
    <servlet-class>servlets.ManageOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrders</servlet-name>
    <url-pattern>/ManageOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>servlets.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderTransaction</display-name>
    <servlet-name>CancelOrderTransaction</servlet-name>
    <servlet-class>servlets.CancelOrderTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderTransaction</servlet-name>
    <url-pattern>/CancelOrderTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddMovie</display-name>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>servlets.AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/AddMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerMovieSearchResults</display-name>
    <servlet-name>OwnerMovieSearchResults</servlet-name>
    <servlet-class>servlets.OwnerMovieSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerMovieSearchResults</servlet-name>
    <url-pattern>/OwnerMovieSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetails</display-name>
    <servlet-name>MovieDetails</servlet-name>
    <servlet-class>servlets.MovieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetails</servlet-name>
    <url-pattern>/MovieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetailsUpdate</display-name>
    <servlet-name>MovieDetailsUpdate</servlet-name>
    <servlet-class>servlets.MovieDetailsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetailsUpdate</servlet-name>
    <url-pattern>/MovieDetailsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTheatreDetails</display-name>
    <servlet-name>ViewTheatreDetails</servlet-name>
    <servlet-class>servlets.ViewTheatreDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTheatreDetails</servlet-name>
    <url-pattern>/ViewTheatreDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewShowrooms</display-name>
    <servlet-name>ViewShowrooms</servlet-name>
    <servlet-class>servlets.ViewShowrooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewShowrooms</servlet-name>
    <url-pattern>/ViewShowrooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageShowtimes</display-name>
    <servlet-name>ManageShowtimes</servlet-name>
    <servlet-class>servlets.ManageShowtimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageShowtimes</servlet-name>
    <url-pattern>/ManageShowtimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelShowingConfirmation</display-name>
    <servlet-name>CancelShowingConfirmation</servlet-name>
    <servlet-class>servlets.CancelShowingConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelShowingConfirmation</servlet-name>
    <url-pattern>/CancelShowingConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShowtime</display-name>
    <servlet-name>AddShowtime</servlet-name>
    <servlet-class>servlets.AddShowtime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShowtime</servlet-name>
    <url-pattern>/AddShowtime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShowtimeConfirmation</display-name>
    <servlet-name>AddShowtimeConfirmation</servlet-name>
    <servlet-class>servlets.AddShowtimeConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShowtimeConfirmation</servlet-name>
    <url-pattern>/AddShowtimeConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReviewSetup</display-name>
    <servlet-name>CustomerReviewSetup</servlet-name>
    <servlet-class>servlets.CustomerReviewSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReviewSetup</servlet-name>
    <url-pattern>/CustomerReviewSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransaction</display-name>
    <servlet-name>CustomerTransaction</servlet-name>
    <servlet-class>servlets.CustomerTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransaction</servlet-name>
    <url-pattern>/CustomerTransaction</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>servlets.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type >
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.sql.SQLException</exception-type >
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type >
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.FileNotFoundException</exception-type >
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.text.ParseException</exception-type >
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>